:root {
  --font-family: "Inter", system-ui, sans-serif;

  //	heading

  --headings-font-weight: bold;
  --headings-color: inherit;
  --headings-margin-top: 0;
  --headings-margin-bottom: 0.5rem;

  // paragraphs

  --paragraphs-font-size: 1rem;
  --paragraphs-line-height: 1.2;
  --paragraphs-font-weight: 400;
  --paragraphs-color: inherit;
  --paragraphs-margin-bottom: 1rem;

  // links

  --links-color: #0d6efd;
  --links-font-size: inherit;
  --links-font-weight: inherit;
  --links-text-decoration: undreline;

  // address

  --address-margin-bottom: 1rem;

  // lists
  --lists-margin-top: 0;
  --lists-margin-bottom: 1rem;
  --lists-padding-left: 2rem;
  --lists-list-margin-bottom: 0;

  // b/strong

  --b-color: inherit;
  --b-font-size: 1rem;
  --b-font-weight: bolder;

  // code/kbd/pre

  --pre-font-size: 1rem;
  --pre-color: inherit;
  --pre-line-height: 1.5;
  --code-font-family: monospace;
  --code-font-size: 1em;
  --code-color: inherit;
  --kbd-font-size: var(--code-font-size);
  --kbd-font-family: var(--code-font-family);
  --kbd-color: inherit;
  --kbd-padding: 0.1875rem 0.375rem;
  --kbd-radius: 0.1875rem;
  --kbd-bg: rgba(0 0 0 / 10%);

  // button

  --button-font-size: 1rem;
  --button-font-weight: 500;
  --button-color: #000;
  --button-bg: transparent;
  --button-border-width: 1px;
  --button-border-style: solid;
  --button-border-color: #000;
  --button-radius: 0.25rem;
  --button-padding: 0.375rem 0.75rem;
  --button-disabled-opacity: 0.8;

  // input
  --input-font-size: 1rem;
  --input-font-weight: normal;
  --input-color: #000;
  --input-bg: transparent;
  --input-border-width: 1px;
  --input-border-style: solid;
  --input-border-color: #000;
  --input-border-radius: 0.25rem;
  --input-padding: 0.375rem 0.75rem;
  --input-placeholder-color: #424b52;
}
